

.scroll-to-top {
    --offset: -50px; 
    position: sticky;
    bottom: 30px;      
    place-self: end;
    margin-top: calc(var(--offset));
    display: flex;
    justify-content: space-between;


    white-space: nowrap;
    mix-blend-mode: difference;
    margin-left: 20px;
    margin-right: 20px;
    visibility: visible;
    opacity: 1;
    transition: all 300ms ease-out;
    cursor: pointer;
    z-index: 100;
}


.scroll-to-top-active {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: all 300ms ease-out;
}



