
.image-container {
    position: relative;
}

.gallery-image {
    border-radius: 1rem;
    margin-bottom: 1rem;

    width: 250px;
    height: 200px;
    margin: 5px;
    object-fit: cover;
    transform : scale(1);
    transition: transform 300ms ease-in-out;
    cursor: pointer;
    opacity: .9;
    
}

.image:hover {
  transform : scale(1.1);
  transition: transform 300ms ease-in-out;
  opacity: 1;
}

.title {
    /* position: absolute; */
    font-size: 1.3vw;
    /* top: 50%; */
    color: black;
    /* height: 100%;
    width: 100%;
    border: solid red 2px;
    display: flex;
    justify-content: center;
    align-items: center; */
}


@media (min-width: 1200px) {

  .title {
    font-size: 12px;
  }

}


@media (max-width: 800px) {

      .image {
        width: 200px;
        height: 150px;
        margin: 5px;
        object-fit: cover;
      }

  }
  
  
  @media (max-width: 375px) {

    .image {
      width: 200px;
      height: 150px;
      margin: 5px;
      object-fit: cover;
    }

  }