
.image-container {
    position: relative;
    padding: 20px;
}

.gallery-image {
    /* border-radius: .5rem; */
    margin-bottom: 1rem;
    width: 40vmin;
    height: 27vh;
    margin: 5px;
    object-fit: cover;
    scale: calc(1);
    transition: all 300ms ease-in-out;
    cursor: pointer;
    opacity: .9;
    
}

.gallery-image:hover {
  scale: calc(1.05);
  transition: all 300ms ease-in-out;
  opacity: 1;
}

.gallery-item-title {
    font-size: 1.5vh;
    color: black;
    padding: 5px;
}


@media (min-width: 1200px) {

}


@media (max-width: 800px) {

      .gallery-image {
        width: 200px;
        height: 150px;
        margin: 5px;
        object-fit: cover;
      }

      #type {
        visibility: hidden;
        height: 0;
      }

      .gallery-item-title {
        font-size: 2.5vw;
      }

  }
  
  
  @media (max-width: 375px) {

    .image {
      width: 200px;
      height: 150px;
      margin: 5px;
      object-fit: cover;
    }

  }