
.password-page-container {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.password-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.password-title {
    font-size: 2vw;
  color: #797d7f;
}

.password-input {
    background-color: transparent;
    border-bottom: solid 1px #2a2c2d;
}

.password-btn {
    color: #797d7f;
    border: solid 2px #797d7f;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.password-btn:hover {
    transition: all 300ms ease-in-out;
    color: #2a2c2d;
    border: solid 2px #2a2c2d;
}