.music-creation-container {
    min-height: calc(100dvh - 100px);
    text-align: center;
}


.music-creation-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
}


.step1-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 4.5vw;
    color: #F0EEF0;
  }

.producing {
    width: 100%;
    min-height: 400px;
    /* border: solid 2px red; */
    padding: 2%;
}

.inner-producing {
    /* border: solid blue 2px; */
    border-radius: 8px;
    height: 100%;
    padding: 12px;
    overflow: scroll;
}

.inner-producing-text {
    font-size: 2rem;
    padding-bottom: 18px;
    line-height: 50px;
    color: #c8c8c8;
}


.song-example {
    padding: 2%;
    max-width: 700px;
    background-color: #303030;
    color: #c8c8c8;
    border-radius: 8px;
}


.examples-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    /* border: solid red 2px; */
    gap: 12px;
}

.example {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .example-title {
        display: none;
    }
  }



.production-page-section {
    display: flex;
    flex-wrap: grid;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    column-gap: 1rem;
    row-gap: 2.5rem;
    padding: 5%;
    width: 100%;
    overflow: scroll;
}

.album-covers-image {
    max-height: 300px;
    max-width: 300px;
}



