
.about-container {
  text-align: center;
  min-height: calc(100dvh - 100px);
}

.section {
  padding: 3.5%;
  height: 100%;
  width: 100%;
}

.section:nth-of-type(even) {
  background: #fff;
  color: #111;
}

p {
  margin-bottom: 2.5em;
  font-size: 2.5vw;
}



.about-title {
  /* font: bold 2.8rem "Work Sans", "Arial Black", Gadget, sans-serif; */
  font: bold;
  font-size: 5vw;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 2rem;
}

.about-lower-title {
  border: solid white 2px;
  border-radius: 8px;
  padding: 10px 15px;
  font: bold;
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
  scale:calc(1);
  transition: scale 300ms ease-in-out;
}

.about-lower-title:hover {
  scale:calc(1.1);
  transition: all 300ms ease-in-out;
}


.title-head {
  text-align: left;
  align-items: center;
  font-size: 5vw;
  width: 100%;
  /* border: solid red 2px; */
}

.title-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  cursor: pointer; 
}

.about-divider {
  border-top: 3px solid #bbb;
}

.list {
  padding: 2% 0;
  max-height: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-between;
  overflow: hidden;
  transition: all .500ms ease-in-out;
}

.list-hidden {
  max-height: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  padding: 0px;
  overflow: hidden;
  transition: all .500ms ease-in-out;
}

.list-item {
  font-size: 3vw;
  /* list-style-type: none; */
}

.chevron-up {
  -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all .5s ease-in-out;
}

.chevron-down {
  -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
}

.founder {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.founder-div {
  width: 50%;
}

.founders {
  max-height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  transition: all .500ms ease-in-out;
}

.founders-hidden {
  max-height: 0px;
  overflow: hidden;
  transition: all .500ms ease-in-out;
}