.branding-container {
    min-height: calc(100dvh - 100px);
    text-align: center;
}

.branding-videos-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 19px;
}

.branding-video-container {
    width: 100%;
}



/* .gallery {
  column-count: 4;
  --webkit-column-count: 4;
  --moz-column-count: 4;
  gap: 1rem;
  padding: 4rem;
}

.image img {
  height: auto;
  width: 100%;
  transition: transform 500ms ease;
}

.image img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 810px) {
  .gallery {
    column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
  }
} */

/* @media screen and (max-width: 500px) {
  .gallery {
    column-count: 2;
    --webkit-column-count: 2;
    --moz-column-count: 2;
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
  }
} */









.gallery {
  column-count: 4;
  gap: 1rem;
  padding: 4rem;
}

.image img,
.gallery-video {
  height: auto;
  width: 100%;
  transition: transform 500ms ease;
}

.image img:hover,
.gallery-video:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 810px) {
  .gallery {
    column-count: 3;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    column-count: 2;
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    column-count: 1;
  }
}











