/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */

@supports (-webkit-touch-callout: none) {
    body {
      font-weight: 500;
    }
    .enter {
        height:100dvh;
        width:100dvw;
    }
  }

.enter {
    height:100dvh;
    width:100dvw;
}

.home-text {
    font-family: Bebas Neue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-rendering:optimizeLegibility;
    font-kerning: none;
    webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    height:100%;
    width:100%;
    font-size: 85em;
    font-weight: bolder;
    font-weight: 700;
    text-transform: uppercase;
    transition: 1s font-size;
    position: absolute;
    top:0;
    left: 0;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    /* width:100vh; */
    /* padding: 100px 0; */
}

.video {
    width: 80%;
}

iframe {
    border: none;
    height: 100dvh; 
    width: 100dvw;
}


@media screen and (min-width:200px)  { 
    .home-text {
        font-size: 4em;
    } 
}

@media screen and (min-width:320px)  { 
    .home-text {
        font-size: 6em;
    } 
}
@media screen and (min-width:480px)  { 
    .home-text {
        font-size: 7em;
    } 
}
@media screen and (min-width:600px)  { 
    .home-text {
        font-size: 8em;
    } 
}
@media screen and (min-width:801px)  { 
    .home-text {
        font-size: 9em;
    } 
}
@media screen and (min-width:1025px)  { 
    .home-text {
        font-size: 11em;
    } 
}
@media screen and (min-width:1281px)  { 
    .home-text {
        font-size: 20vw;
    } 
}


svg rect {
    fill:white;
    mask: url(#mask);
}

svg > rect {
    fill: #1b1c1e;
}

.enterBtn {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enterBtn > button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: Bebas Neue;
    font-size: 2vw;
    padding: 10px 20px;
    border: 2px solid rgb(216, 216, 216);
    text-decoration: none;
    color:rgb(216, 216, 216);
    background-color: #1b1c1e;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.enterBtn > button:hover {
    transform: scale(1.3);
}




