

.works-gallery-container {
  width: 100%;
  height: 60dvh;
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  padding: 5%;
  gap: 1em;
  overflow: scroll;
}


.image {
  /* display: inline-flex; */
  width: 200px;
  height: 150px;
  margin: 5px;
  object-fit: cover;

  /* animation: createBox .25s;
  animation-fill-mode: forwards; */
  /* animation-duration: 1s; */
}


@keyframes createBox {
  from {
    /* transform: scale(0); */
     opacity: 0;
  }
  to {
    /* transform: scale(1); */
    opacity: 1;
  }
}


@keyframes removeBox {
  from {
    /* transform: scale(1); */
    opacity: 1;
  }
  to {
    /* transform: scale(0); */
    opacity: 0;
  }
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  /* opacity: 1;
  transition: opacity 50ms ease-in; */
  animation: createBox 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  /* opacity: 0;  */
  animation: removeBox 500ms;
}








@media (max-width: 800px) {
  .works-gallery-container {
    flex-direction: column;
    text-align: center;
    }
    .image {
      width: 200px;
      height: 150px;
      margin: 5px;
      object-fit: cover;
    }
}


@media (max-width: 375px) {
  .works-gallery-container {
  flex-direction: column;
  text-align: center;
  }
  .image {
    width: 200px;
    height: 150px;
    margin: 5px;
    object-fit: cover;
  }
}